/*
*@65004781@qq.com
*author: YuKa
*/

*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/*
    邀请界面 ： current-invite
*/
#current-invite{
    z-index: 999; 
    position:absolute;
    border: 1px solid;
    border-radius: 5px; 
    width:320px;
    height:160px;
    left:50%;
    margin-left:-160px;
    background-color: white;
    margin-top: 200px; 
}

#current-invite #invitInfo{
    width:300px;
    height:60px;
    color:black;
    padding-top:40px;
}

#current-invite #invitInfo button{
    height:30px;
    border: 1px solid;
    border-radius:3px;
    width:100px;
    cursor:pointer;
}

#invite_busy{
    z-index: 999; 
    position:absolute;
    border: 1px solid;
    border-radius: 5px; 
    width:320px;
    height:160px;
    left:50%;
    margin-left:-160px;
    background-color: white;
    margin-top: 200px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    display: none;
}

#invite_busy #busyInfo{
    width:300px;
    height:60px;
    color:black;
    padding-top:40px;
    margin: auto;
}
#invite_busy button{
    height:30px;
    border: 1px solid;
    border-radius:3px;
    width:100px;
    cursor:pointer;
    margin:auto;
}


/*
* 视频页面： #videos
*/
#videos{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
#videos #local{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width:100%; 
    height:100%; 
    object-fit: fill;
}

#videos #remote{
    position: fixed;
    top:0;
    right: 0;
    z-index: 2;
    width: 150px;
    height: 200px;
    object-fit: fill;
}



/**
*登录框 getAppid-div
*/
#getAppid-div {
    text-align:center;
    margin-top:150px;
}
#getAppid-div #login{
    height:35px;
    border: 1px solid;
    border-radius: 3px;
    cursor:pointer
}
/*
*挂断 hangup
*/
#hangup{
    height:50px;
    text-align:center;
    margin-top:20px;
}
#hangup button{
    height:35px;
    border: 1px solid;
    border-radius: 3px;
    width:200px;
    cursor:pointer; 
}

/**
* 菜单 menu
*/
#menu{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;
    display: none;
    color: #fff;
}
#menu ul{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
#menu ul li{
    font-size: 14px;
    list-style: none;
    text-align: center;
    color: #eee;
}
#menu ul li i{
    display: block;
    font-size: 24px;
}
/*
users 
*/
#users{
    margin:0 auto;
    margin-top:40px;
    width:300px;
    position:fixed;
    top: 50px;
    z-index: 5;
}
#users #user-list{
    border:1px solid;
    float:left;
    width:100%;
    min-height:200px;
}
#users #user-list #user-model{
    background-color:white; 
    color: black;
     width:280px;
     height:30px;
     border:1px solid;
     margin:10px;
     float:left;
}
#users #user-list #user-model button{
    margin-top: 3px;
    border: 1px solid;
    border-radius: 3px;
    cursor:pointer;
}